
        <footer>
                <!-- font awesome script link-->
                <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
               <!-- <ul>-->
            	  <!--<li><a href="#"><i class="fab fa-facebook"></i></a></li> -->
            	  <!--<li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
            	  <!--<li><a href="#"><i class="fab fa-google-plus"></i></a></li> -->
            	  <!--<li><a href="#"><i class="fab fa-instagram"></i></a></li>-->
            	  <!--<li><a href="#"><i class="fab fa-500px"></i></a></li>-->
               <!-- </ul>-->
               <br>
                <p>Copyright &copy; 2018</p>
                </div>
            </div>
        </footer>
    </body>
</html>