<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1>Welcome to a Simple Authentication!</h1>
        <p>
            Please <a href="/register">register</a> or <a href="/login" >login</a> to continue.
        </p>
        <p>
            This is just a basic app to demonstrate authentication using sessions & bcrypt.
        </p>

    </div>
</div>
<% include ./partials/footer %>